In [3]:
#importing necessary modules

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series
from datetime import timedelta
import os
from scipy import stats
from sqlalchemy import create_engine
import mysql.connector
import warnings
warnings.filterwarnings('ignore')

In [9]:
##### Importing datasets

#####1 Customers Table

#importing dataset
customers = DataFrame()
customers = pd.read_csv(r"C:\Users\yasin\OneDrive\Desktop\BI\CA2\Raw data\Customers_Dim.csv")

#dropping unwanted columns
customers = customers.drop(columns=['CustomerLabel', 'Title', 'MiddleName', 'NameStyle', 'BirthDate', 'MaritalStatus', 'Suffix', 'YearlyIncome', 'BirthDate', 'TotalChildren', 'NumberChildrenAtHome', 'HouseOwnerFlag', 'NumberCarsOwned', 'AddressLine2', 'DateFirstPurchase', 'CustomerType', 'CompanyName', 'ETLLoadID', 'LoadDate', 'UpdateDate'])

#renaming "CustomerKey to "CustomerID"
customers = customers.rename(columns={"CustomerKey": "CustomerID", "AddressLine1": "Address"})

#creating CustomerName by combining FirstName and LastName
customers['CustomerName'] = customers['FirstName'] + ' ' + customers['LastName']

#dropping the original FirstName and LastName columns
customers = customers.drop(['FirstName', 'LastName'], axis=1)

#moving 'CustomerName' to the 2nd position and 'GeographyKey' to the 7th
cols = customers.columns.tolist()
cols.insert(1, cols.pop(cols.index('CustomerName')))
cols.insert(7, cols.pop(cols.index('GeographyKey')))
customers = customers[cols]

#replacing 'Gender' values for clarity
customers['Gender'] = customers['Gender'].replace({
    'F': 'Female',
    'M': 'Male'
})

engine = create_engine('mysql+mysqlconnector://root:password@localhost/businessintelligence_warehouse')
customers.to_sql(name='customers', con=engine, if_exists='replace', index=False)

In [11]:
#####2 Products Table

#importing dataset
products = DataFrame()
products = pd.read_csv(r"C:\Users\yasin\OneDrive\Desktop\BI\CA2\Raw data\Products_Dim.csv")

#renaming "CustomerKey to "CustomerID"
products = products.rename(columns={"ProductKey": "ProductID"})

engine = create_engine('mysql+mysqlconnector://root:password@localhost/businessintelligence_warehouse')
products.to_sql(name='products', con=engine, if_exists='replace', index=False)

In [13]:
#####3 Sales Table

#importing dataset
sales = pd.read_csv(r"C:\Users\yasin\OneDrive\Desktop\BI\CA2\Raw data\Sales_Dim.csv")

#dropping rows where "Quantity" value = 0
sales.drop(sales[sales['Quantity'] == 0].index, inplace=True)

#dropping rows where "Customer" value = NaN 
sales = sales.dropna(subset=["CustomerName"])

#renaming "SalesOrderNumber" to "SalesOrderID"
sales = sales.rename(columns={"SalesOrderNumber": "SalesID", "CustomerKey": "CustomerID"})

#dropping rows where "CustomerKey" value <= 1000 in order to match the customers list in our Customers table
sales.drop(sales[sales['CustomerID'] > 1000].index, inplace=True)

#randomly sample 6000 rows from the Sales dataframe
sales = sales.sample(n=6000, random_state=42)

sales = sales.reset_index(drop=True)

#calculating Sales DataFrame of 6000 rows
total_rows = len(sales)

#calculating number of rows per year for 6000 in total
orders_in_2022 = int(total_rows * 0.39)
orders_in_2023 = int(total_rows * 0.37)
orders_in_2024 = total_rows - orders_in_2022 - orders_in_2023

#generating random dates for each year
dates_2022 = pd.to_datetime(np.random.choice(
    pd.date_range(start='2022-01-01', end='2022-12-31'), size=orders_in_2022))

dates_2023 = pd.to_datetime(np.random.choice(
    pd.date_range(start='2023-01-01', end='2023-12-31'), size=orders_in_2023))

dates_2024 = pd.to_datetime(np.random.choice(
    pd.date_range(start='2024-01-01', end='2024-12-30'), size=orders_in_2024))

#concatenating the dates
all_dates = np.concatenate([dates_2022, dates_2023, dates_2024])
np.random.shuffle(all_dates)

#setting a new column for the dates and sorting by OrderDate
sales['OrderDate'] = all_dates
sales = sales.sort_values('OrderDate').reset_index(drop=True)

#assigning a unique sales id for every order
sales['SalesID'] = range(1, len(sales) + 1)

#identifying unmatched sales rows
#matched_sales = sales[sales['ProductName'].isin(products['ProductName'])]
#unmatched_sales = sales[~sales['ProductName'].isin(products['ProductName'])]

#adding a ProductID column matching the IDs from each ProductName in the products table 
sales = sales.merge(products[['ProductID', 'ProductName']], on='ProductName', how='inner')
print("Merged rows:", len(sales))

#moving 'ProductID' new column to the 4th position
cols = sales.columns.tolist()
cols.insert(3, cols.pop(cols.index('ProductID')))
sales = sales[cols]

engine = create_engine('mysql+mysqlconnector://root:password@localhost/businessintelligence_warehouse')
sales.to_sql(name='sales', con=engine, if_exists='replace', index=False)

Merged rows: 6000

In [15]:
#####4 Returns Table
returns = pd.read_csv(r"C:\Users\yasin\OneDrive\Desktop\BI\CA2\Raw data\Returns_Dim.csv")
#randomly selecting 1000 rows from the sales table to be used as returns table (using random_state)
returns = sales.sample(n=1000, random_state=42)

#adding ReturnID as the 1st column
returns.insert(0, 'ReturnID', range(1, len(returns) + 1))

engine = create_engine('mysql+mysqlconnector://root:password@localhost/businessintelligence_warehouse')
returns.to_sql(name='returns', con=engine, if_exists='replace', index=False)

In [17]:
#####5 Stock Table

#importing dataset
stock = DataFrame()
stock = pd.read_csv(r"C:\Users\yasin\OneDrive\Desktop\BI\CA2\Raw data\Stock_Dim.csv")

#renaming "ProductKey" to "ProductID" to "SafetyStockQuantity" to "StockQuantity"
stock = stock.rename(columns={"ProductKey": "ProductID", "SafetyStockQuantity": "StockQuantity"})

#dropping rows where "ProductKey" value <= 2517 in order to match the products list in our Products table
stock.drop(stock[stock['ProductID'] > 2517].index, inplace=True)

#grouping by "ProductKey" and aggregating "StockQuantity" by summing and "UnitCost" by mean value
stock = stock.groupby('ProductID', as_index=False).agg({
    'StockQuantity': 'sum',
    'UnitCost': 'mean'  # or 'first' is similar results
})

#adding StockID in the table as primary key
stock.insert(0, 'StockID', range(1, len(stock)+1))

engine = create_engine('mysql+mysqlconnector://root:password@localhost/businessintelligence_warehouse')
stock.to_sql(name='stock', con=engine, if_exists='replace', index=False)

In [20]:
#####6 Expenses Table

expenses = pd.read_csv(r"C:\Users\yasin\OneDrive\Desktop\BI\CA2\Raw data\Expenses_Dim.csv")


#parsing DateKey column to change from string to datetime value
#expenses['Datekey'] = pd.to_datetime(expenses['Datekey'])

#replacing years in DateKey
expenses['Datekey'] = expenses['Datekey'].apply(lambda x: x.replace(year={
    2007: 2022,
    2008: 2023,
    2009: 2024
}.get(x.year, x.year)))

#droping unwanted columns
expenses = expenses.drop(columns=['ETLLoadID', 'LoadDate', 'UpdateDate'])

#exporting clean dataset to CSV file


engine = create_engine('mysql+mysqlconnector://root:password@localhost/businessintelligence_warehouse')
expenses.to_sql(name='expenses', con=engine, if_exists='replace', index=False)

"\n#replacing years in DateKey\nexpenses['Datekey'] = expenses['Datekey'].apply(lambda x: x.replace(year={\n    2007: 2022,\n    2008: 2023,\n    2009: 2024\n}.get(x.year, x.year)))\n\n#droping unwanted columns\nexpenses = expenses.drop(columns=['ETLLoadID', 'LoadDate', 'UpdateDate'])\n\n#exporting clean dataset to CSV file\n"